* {
  margin: 0 auto;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: rgb(241, 236, 216);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

hr {
  border-top: 1px dashed rgb(129, 126, 115);
  max-width: 1000px;
}
