.tafla {
  margin-top: 2rem;
}

th,
td {
  border: 1px solid #000;
  padding: 0.3rem;
}

table {
  border-collapse: collapse;
  max-width: 1000px;
  width: 100%;
}

.day {
  white-space: nowrap;
}

.ath {
  word-wrap: anywhere;
}
